playlist/composer.json
playlist/composer.lock
playlist/package-lock.json
playlist/package.json
playlist/webpack.mix.js
playlist/app/Exceptions/Handler.php
playlist/app/Http/Controllers/ApiController.php
playlist/app/Http/Controllers/HomeController.php
playlist/app/Http/Controllers/SinglePageController.php
playlist/app/Http/Middleware/VerifyCsrfToken.php
playlist/config/services.php
playlist/config/session.php
playlist/database/migrations/2019_08_19_000000_create_failed_jobs_table.php
playlist/database/migrations/2020_07_29_165738_create_jobs_table.php
playlist/playlist-app/.babelrc
playlist/playlist-app/.editorconfig
playlist/playlist-app/.eslintignore
playlist/playlist-app/.eslintrc.js
playlist/playlist-app/.gitignore
playlist/playlist-app/.postcssrc.js
playlist/playlist-app/index.html
playlist/playlist-app/package-lock.json
playlist/playlist-app/package.json
playlist/playlist-app/README.md
playlist/playlist-app/build/build.js
playlist/playlist-app/build/check-versions.js
playlist/playlist-app/build/logo.png
playlist/playlist-app/build/utils.js
playlist/playlist-app/build/vue-loader.conf.js
playlist/playlist-app/build/webpack.base.conf.js
playlist/playlist-app/build/webpack.dev.conf.js
playlist/playlist-app/build/webpack.prod.conf.js
playlist/playlist-app/config/dev.env.js
playlist/playlist-app/config/index.js
playlist/playlist-app/config/prod.env.js
playlist/playlist-app/src/App.vue
playlist/playlist-app/src/main.js
playlist/playlist-app/src/assets/logo.png
playlist/playlist-app/src/components/HelloWorld.vue
playlist/playlist-app/src/router/index.js
playlist/playlist-app/static/.gitkeep
playlist/public/mix-manifest.json
playlist/public/css/app.css
playlist/public/css/style.css
playlist/public/html/components.js
playlist/public/html/views.js
playlist/public/js/app.js
playlist/public/js/bootstrap.js
playlist/public/js/components.js
playlist/public/js/views.js
playlist/resources/js/app.js
playlist/resources/js/bootstrap.js
playlist/resources/js/components/ExampleComponent.vue
playlist/resources/js/components/ServiceBar.vue
playlist/resources/js/views/App.vue
playlist/resources/js/views/Playlist.vue
playlist/resources/js/views/Webapp.vue
playlist/resources/js/views/Welcome.vue
playlist/resources/sass/_variables.scss
playlist/resources/sass/app.scss
playlist/resources/views/home.blade.php
playlist/resources/views/landing.blade.php
playlist/resources/views/playlist.blade.php
playlist/resources/views/welcome.blade.php
playlist/resources/views/auth/login.blade.php
playlist/resources/views/auth/register.blade.php
playlist/resources/views/auth/verify.blade.php
playlist/resources/views/auth/passwords/confirm.blade.php
playlist/resources/views/auth/passwords/email.blade.php
playlist/resources/views/auth/passwords/reset.blade.php
playlist/resources/views/layouts/app.blade.php
playlist/routes/web.php
